*.swp
wn31.xml
wn.xml
*.un~
index.adj
index.noun
index.verb
index.adv
scratch/
scripts/__pycache__/
wn.pickle
*.pyc

scripts/wn-unique.py
scripts/wordnet-subset.py
scripts/wnu-to-csv.py
wikidata-names-unique.tsv
wn-unique.csv
wnu-wnhyps.csv
src/xml/

wn-from-yaml.xml