*.swp
wn31.xml
wn.xml
*.un~
index.adj
index.noun
index.verb
index.adv
scratch/
scripts/__pycache__/
wn.pickle
*.pyc

scripts/wn-unique.py
scripts/wnu-to-csv.py
scripts/wordnet-subset.py

wikidata-names-unique.tsv
wn-from-yaml.xml
wn-unique.csv
wnu-wnhyps.csv
src/out
desktop.ini
*.lnk
ewe*
src/xml/
.DS_Store

src/yaml/adj_sample.csv
src/yaml/unconnected-verbs
actions.yaml
english-wordnet-2023.xml
src/lua
OEWN-Wikidata - Anno 2.csv
OEWN-Wikidata - Anno u3.csv
add_qids.py
.venv
changes.yaml
protonyms.py
protonyms.txt
