# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request 
# events but only for the master branch
on: [push, pull_request]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    - name: Merge the source files
      run: python scripts/merge.py
      
    - name: Install xmllint
      run: sudo apt-get install libxml2-utils
      
    - name: Verify XML
      run: xmllint --noout --valid wn.xml
      
    - name: Verify Structure
      run: python3 scripts/validate.py
